<ModConfiguration>
<Id>Tricky.ExtraStorageHoppers</Id>
<Name>Tricky's Storage Hoppers</Name>
<Version>9</Version>
<IsLocalMod>false</IsLocalMod>
<IsServerOnlyMod>false</IsServerOnlyMod>
<Description>
*UPDATE NOTICE* - Tricky! Has graciously allowed me update this mod and most of it has been rewritten to address changes in FortressCraft Evolved, fix dedicated server issues, and use a new approach for handling stored item data that greatly reduces the network payload size. The scope of these changes effectively puts this mod in a beta state for the time being. Please post any bugs below or IM me on the FortressCraft Discord (@Mad Vandal). See the update section below for a list all changes.

Mad Vandal

____________________________________________________

This will add 12 new storage hoppers to the game, that are much faster than the normal ones, and can store anywhere from 1 to 2000 items!

You will get an Additional 5 storage hoppers if you own the Frozen Factory Expansion!
3 Normal Storage hoppers (500, 750, 1000 slots)
2 One-Type Storage hoppers (3000 and 5000 slots)

[h1]Standard Hoppers Available[/h1]

Nano Storage Hopper (1 slot, extremely fast)
Small Storage Hopper (10 slots, extremely fast)
Medium Storage Hopper (25 slots, extremely fast)
Half Storage Hopper (50 slots, extremely fast)
75 Slot Storage Hopper (75 slots, extremely fast)
100 Slot Storage Hopper (100 slots, extremely fast)
125 Slot Storage Hopper (125 slots, extremely fast)
150 Slot Storage Hopper (150 slots, extremely fast)
Huge Storage Hopper (200 slots, extremely fast)
500 Slot Storage Hopper (500 slots, extremely fast, Frozen Factory ONLY)
750 Slot Storage Hopper (750 slots, extremely fast, Frozen Factory ONLY)
1000 Slot Storage Hopper (1000 slots, extremely fast, Frozen Factory ONLY)

[h1]One-Type Hoppers Available[/h1]
One-type hoppers can only store one type of items or cubes. This means it can store 2000 Coal Ore, but NOTHING else. No 1000 Coal Ore and 1000 Copper Ore, ONLY one type can be stored at a time.

500 Slot One Type Storage Hopper (500 slots, extremely fast, only stores one type)
1500 Slot One Type Storage Hopper (1500 slots, extremely fast, only stores one type)
2000 Slot One Type Storage Hopper (2000 slots, extremely fast, only stores one type)
3000 Slot One Type Storage Hopper (3000 slots, extremely fast, only stores one type, Frozen Factory ONLY)
5000 Slot One Type Storage Hopper (5000 slots, extremely fast, only stores one type, Frozen Factory ONLY)

[h1]Hopper Content Sharing[/h1]
Hopper content sharing can be toggle and when enabled, and permissions are not locked, cube contents will overflow to neighbors with less quantity.

[h1]Special Hoppers[/h1]
Void Hopper (deletes items, extremely fast, plus optional hivemind feeding)

[h1]Updates[/h1]
Update 7/7/2018:
- Fix type name message on world load for One-Type hopper with type not set.
- New hopper sharing code to do transfers in bulk when possible to allow removing cycle limits.
- Fix bugs with manual extraction of certain unstackable items from machine panel.
- Fix regression bug in TryPartialInsert for cubes.
- Fix cube value check preventing correct ore sharing.
- Fix incorrect color on 500 slot one-type hopper.

Update 7/5/2018:
- Fix bug on loading saved states on certain non-stackable types.
- Adjust slot counts right align better on in machine panel UI.
- Change content sharing to work on anything and ignore all permissions but locked.
- Fix auto-set of item type for one-type hopper to properly update the UI state.
- Add floating text notification when new one-type hopper auto-set occurs
- Fix push (conveyance) input false accepting items that can't go into a one-type hopper.
- Increase content sharing rate..

Update 7/4/2018:
- Void hoppers will now perform the closest to CPH hivemind search in case no mynocks are available.
- Void hopper popup will now show destroyed item count and hivemind search status.

Update 7/3/2018 (Bug fixes):
- Fix issue with reading prior version states.
- Stop TryExtract "trash" flag used by certain GACs from damaging the inventory store (this breaks the popup UI too).
- Fix issue with storing ItemSingle type unstackables such as power boosters.
- Fix exemplar check for universal cube value which keeps smelters from using hopper.
- Fix slot indexing on machine panel and move "drop" slot to the to with separate label.
- Fix destroying hopper not dropping inventory out properly.
- Fix updating of manufacturing plant recipe descriptions.
- Fix void hopper drop labeling to say "Destroy" instead of "Store"
- Fix lag on hotbar count update when inserting items.

Update 7/3/2018 (Major Update):
-	New approach storage data approach that reduced network payload sizes and allows for large hoppers on dedicated server.
- Add support for Basic Conveyor Filter invert feature.
- Add support for Freezon transfer to Geothermal Generators.
- All hoppers now have their own icons.
- Regular hoppers no longer use duplicate colors.
- Numerous Fixes server/client issues and error handling.
- This mod does not a custom error log anymore. Entries in the regular log will have a have a header tag for this mod.
- This mod does not make XML backups anymore as it caused issues.


Disclaimer
I am not responsible for anything. This is a mod, use at your own risk!

SUGGESTIONS NEEDS TO BE PUT IN THE SUGGESTIONS THREAD
BUG REPORTS NEEDS TO BE PUT IN THE BUG REPORTS THREAD
ALL NON-COMMENT RELATED STUFF UNDER THIS DESCRIPTION WILL BE DELETED.



[h1]Notice from Tricky![/h1]

As many of the players using this mod for multiplayer, will experience a long list of bugs, that I haven't been able to just fix. And this is because time is a premium for me, that I don't want to "waste" on modding a game I don't play anymore.

I will have Summer vacation in a few mounts (1. August to 1. September), there i will find time to fix the bugs. But until then, be aware that bugs will not be fixed, and wont even be considered a part of my plan. I am truly sorry about the bugs people are experiencing, but without time, there is not much i can do...

If there is a programmer out there, that can prove that he/she can fix my bugs for me, i will gladly update the mod with their fixes, but i wont give that task to anyone, since its still my name that's on the mod.

For those of you wandering i am taking a master in Software Engineering, which is what i have been burning to get started with for most of my life, and its not something i am going to throw out the window, to fix bugs for a game that i dont play.

It might seem selfish that my mod is the most popular, and one of the most bugged mods when it comes to multiplayer. I wish that i could fix the bugs. But i am not superman, tho that would be awesome :)

Contact me here on steam or:
Skype: thue3000
Discord: Tricky!#6339
Mail: Thue-V-Iversen(YOU KNOW WHAT TO PUT HERE)hotmail.com
Mail2: Thue.V.Iversen(YOU KNOW WHAT TO PUT HERE)gmail.com

</Description>
<ChangeNode>
- Fix cube value check preventing correct ore sharing.
- Fix incorrect color on 500 slot one-type hopper.
</ChangeNode>
</ModConfiguration>