<ModConfiguration>
<Id>Tricky.ExtraStorageHoppers</Id>
<Name>Tricky's Storage Hoppers</Name>
<Version>9</Version>
<IsLocalMod>false</IsLocalMod>
<IsServerOnlyMod>false</IsServerOnlyMod>
<Description>
*UPDATE NOTICE* - Tricky! Has graciously allowed me update this mod and most of it has been rewritten to address changes in FortressCraft Evolved, fix dedicated server issues, and use a new approach for handling stored item data that greatly reduces the network payload size. The scope of these changes effectively puts this mod in a beta state for the time being. Please post any bugs below or IM me on the FortressCraft Discord (@Mad Vandal). See the update section below for a list all changes.

Mad Vandal

____________________________________________________

This will add 12 new storage hoppers to the game, that are much faster than the normal ones, and can store anywhere from 1 to 2000 items!

You will get an Additional 5 storage hoppers if you own the Frozen Factory Expansion!
3 Normal Storage hoppers (500, 750, 1000 slots)
2 One-Type Storage hoppers (3000 and 5000 slots)

[h1]Standard Hoppers Available[/h1]

Nano Storage Hopper (1 slot, extremely fast)
Small Storage Hopper (10 slots, extremely fast)
Medium Storage Hopper (25 slots, extremely fast)
Half Storage Hopper (50 slots, extremely fast)
75 Slot Storage Hopper (75 slots, extremely fast)
100 Slot Storage Hopper (100 slots, extremely fast)
125 Slot Storage Hopper (125 slots, extremely fast)
150 Slot Storage Hopper (150 slots, extremely fast)
Huge Storage Hopper (200 slots, extremely fast)
500 Slot Storage Hopper (500 slots, extremely fast, Frozen Factory ONLY)
750 Slot Storage Hopper (750 slots, extremely fast, Frozen Factory ONLY)
1000 Slot Storage Hopper (1000 slots, extremely fast, Frozen Factory ONLY)

[h1]One-Type Hoppers Available[/h1]
One-type hoppers can only store one type of items or cubes. This means it can store 2000 Coal Ore, but NOTHING else. No 1000 Coal Ore and 1000 Copper Ore, ONLY one type can be stored at a time.

500 Slot One Type Storage Hopper (500 slots, extremely fast, only stores one type)
1500 Slot One Type Storage Hopper (1500 slots, extremely fast, only stores one type)
2000 Slot One Type Storage Hopper (2000 slots, extremely fast, only stores one type)
3000 Slot One Type Storage Hopper (3000 slots, extremely fast, only stores one type, Frozen Factory ONLY)
5000 Slot One Type Storage Hopper (5000 slots, extremely fast, only stores one type, Frozen Factory ONLY)

[h1]Hopper Content Sharing[/h1]
Hopper content sharing can be toggle and when enabled, and permissions are not locked, cube contents will overflow to neighbors with less quantity.

[h1]Special Hoppers[/h1]
Void Hopper (deletes items, extremely fast, plus optional hivemind feeding)

[h1]Updates[/h1]

Update 6/10/2020:
- Fix extraction methods doing successful extract of amounts below the specified minimum extraction amount.

Update 2/28/2020:
- Fix hopper front visual text for last item not changing to "[Empty]" when the hopper is empty.
- Fix inventory slots going empty not updating on network clients and showing slots with a single item that isn't actually there.

Update 2/26/2020:
- Fix network tranmission of used capacity count.

Update 1/19/2020:
- Turn off full debug logging.

Update 1/12/2020:
- Test changes for hosted game with full debug.

Update 1/11/2020:
- Test changes for hosted game with full debug.

Update 2/8/2019:
- Fix to restore machine panel window icon holder sizes back to the original.

Update 12/17/2018:
- Revised recipes from GamingComet.

Update 12/11/2018:
- Fix power booster GAC outputs getting into hopper inventory as the wrong item type and causing errors.

Update 12/2/2018:
- Sane and better balanced recipes from GamingComet.

Update 9/16/2018;
- Fix exemplar based extraction amount check for non-stacking items.

Update 9/15/2018:
- Fix extraction of ItemSingle type stack not checking inventory count properly.
- Fix new inventory box slots not being added for new item types while the machine window is open.

Update 8/25/2018:
- Override object spawning to get rid of the brief delay between the hopper object appearing and the color applied.

Update 8/15/2018:
- Fix extraction permitted flag for machines that observe it and which would not pull.

Update 8/12/2018:
- Fix incorrect return state on TryExtract for zero extracted which cases machines that don't check quantities to assume extract of zero was successful.

Update 7/22/2018:
- Fix rare void hopper hive search segment iterator to collection modified exception.

Update 7/14/2018:
- Changes machine panel UI to add slots without redraw.

Update 7/11/2018:
- Change machine panel UI to only redraw on slot count increase while it remains only to reduce redraws.

Update 7/10/2018:
- Decrease held extract key debounce time.
- Releasing Extract key will now reset debounce time allowing for fast repeat press.
- Fix bug part spoilage not applying correctly.
- Fix counting and extraction problems with "single" type items like power boosters.
- Open machine window will now show new slots when contents change while window remains open.


Disclaimer
I am not responsible for anything. This is a mod, use at your own risk!

SUGGESTIONS NEEDS TO BE PUT IN THE SUGGESTIONS THREAD
BUG REPORTS NEEDS TO BE PUT IN THE BUG REPORTS THREAD
ALL NON-COMMENT RELATED STUFF UNDER THIS DESCRIPTION WILL BE DELETED.

</Description>
<ChangeNode>
Turn off verbose logging after last update.
</ChangeNode>
</ModConfiguration>
